<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>docxMath - {{ filename }}</title>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
<body>
    <h3>Uploaded file: {{ filename }}</h3>
    <h3>Total number of equations: {{ equations|length }}</h3>
    <table border="1">
        <tr>
            <th>Section</th>
            <th>Equation</th>
            <th>LaTeX</th>
        </tr>
        {% for header, latex in equations %}
        <tr>
            <td>{{ header }}</td>
            <td>$$ {{ latex|safe }} $$</td>
            <td><pre>{{ latex }}</pre></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

