<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extracted Equations</title>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
<body>
    <h3>Uploaded file: {{ filename }}</h3>
    <h3>Total number of equations: {{ equations|length }}</h3>
    <table border="1">
        <tr>
            <th>Equation</th>
            <th>LaTeX</th>
        </tr>
        {% for latex in equations %}
        <tr>
            <td>
                $$ {{ latex|safe }} $$
            </td>
            <td>
                <pre>{{ latex }}</pre>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

